.form {
  align-self: center;
  height: fit-content;
  width: 100%;
  padding: 10px;
}

.form__label {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form__error {
  color: rgba(225, 77, 0, 1);
}

.form__validation {
  margin-top: 4px;
  opacity: 0;
  transition: opacity 1s;
}

.form__validation_visible {
  opacity: 1;
  transition: opacity 1s;
}

.form__input {
  color: black;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 5px;
  border-color: inherit;
  margin-top: 2px;
  padding: 5px;
}

.form__input:disabled {
  background: none;
  color: white;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.form__info {
  font-size: 36px;
}

.form__buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.form__submit-button {
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 1);
  height: 36px;
  width: fit-content;
  padding: 0 16px;
  border: none;
  border-radius: 5px;
}

.form__submit-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.form__submit-button:disabled {
  background-color: rgba(0, 0, 0, 0.3);
}

.form__submit-button_light {
  background-color: rgba(255, 255, 255, 1);
  color: black;
}

.form__submit-button_light:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.form__submit-button_light:disabled {
  background-color: rgba(255, 255, 255, 0.5);
}
