.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-color: black;
  border-bottom: 10px double rgba(255, 255, 255, 0.693);
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  width: 98%;
  padding-top: 15px;
}

.header__logo {
  max-width: 90%;
  margin: 0 auto;
  display: block;
}
