.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  padding-top: 30px;
  margin-top: auto;
  margin-bottom: 15px;
}
.footer__copyright {
  margin: 16px 50px;
  align-self: center;
  height: fit-content;
  text-align: center;
}
.footer__links {
  display: flex;
  align-items: center;
  width: 500px;
  justify-content: space-between;
}
.footer__link {
  display: inline-block;
  width: 75px;
  height: 75px;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  box-shadow: 0 3px 15px rgb(75, 75, 75);
  border-radius: 10px;
  transform: scale(1);
  transition: transform 0.5s;
}
.footer__link:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
}

.footer__link_bluesky {
  background-color: black;

  background-image: url("../../assets/logo-bluesky.png");
}

.footer__link_x-twitter {
  background-image: url("../../assets/logo-x.png");
}

.footer__link_instagram {
  background-image: url("../../assets/logo-insta.png");
}

.footer__link_patreon {
  background-image: url("../../assets/logo-patreon.png");
}

.footer__navigate-button {
  position: fixed;
  height: 40px;
  width: 40px;
  bottom: 50px;
  right: 15px;
  font-size: 20px;
  background-color: #50a2b6;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 2px 5px black;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}
.footer__navigate-button_visible {
  visibility: visible;
  opacity: 1;
  scale: 1;
  transform-origin: bottom;
  transition: opacity 0.5s, visibility 0.5s, scale 0.3s;
}

.footer__navigate-button:hover {
  scale: 1.2;
  transform-origin: bottom;
  transition: scale 0.3s;
  background-color: #2e626f;
}

@media screen and ((max-width: 552px)) {
  .footer__links {
    width: 280px;
  }
  .footer__link {
    width: 50px;
    height: 50px;
  }
}
