@media screen and (max-width: 376px) {
  .form__buttons {
    flex-direction: column;
    align-items: flex-start;
    color: white;
  }
  .form__submit-button {
    background-color: white;
    color: black;
  }

  .form__submit-button:hover {
    background-color: rgb(177, 177, 177);
  }

  .form__submit-button:disabled {
    background-color: rgb(100, 100, 100);
  }
}
